<div class="logo-and-tab">
    <a href="/" class="logo"><img src="img/Logo PP_Simple.png" alt="Logo du Projet"></a>
    <div class="header-tab">
        <div class="non-authentificated">
    <a href="login.php" class="sign-up">S'inscrire | Se Connecter</a>
        </div>
    <a href="#" class="cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
</div>