{% extends 'base.html.twig' %}

{% block title %}
	Peperoonii Prod - Admin
{% endblock %}

{% block body %}
	<h1>Bienvenue sur la page Admin !</h1>
	<a href="/admin/categories" class="btn btn-primary manage-cat">Gérer les catégories</a>
	<a href="/tracks/new" class="btn btn-primary add-track">Ajouter une Track</a>
{% endblock %}
