{% extends 'base.html.twig' %}

{% block body %}


	<div class="slider">
		<div>
			<div class="details">
				<figure>
					<a href="#"><img src="https://picsum.photos/150"></a>
					<figcaption>Breeze'O<br>
						2:46</figcaption>
				</figure>
				<audio src="build/audio/BREEZE'O.mp3" controls></audio>
			</div>
		</div>
		<div>
			<div class="details">
				<figure>
					<a href="#"><img src="https://picsum.photos/150"></a>
					<figcaption>Bigot<br>
						4:03</figcaption>
				</figure>
				<audio src="build/audio/bigot.mp3" controls></audio>
			</div>
		</div>
		<div>
			<div class="details">
				<figure>
					<a href="#"><img src="https://picsum.photos/150"></a>
					<figcaption>Shawty Penthouse<br>
						2:42</figcaption>
				</figure>
				<audio src="build/audio/iron-steeze-shawty-penthouse.mp3" controls></audio>
			</div>
		</div>
		<div>
			<div class="details">
				<figure>
					<a href="#"><img src="https://picsum.photos/150"></a>
					<figcaption>Luftair<br>
						3:33</figcaption>
				</figure>
				<audio src="build/audio/luftair.mp3" controls></audio>
			</div>
		</div>
		<div>
			<div class="details">
				<figure>
					<a href="#"><img src="https://picsum.photos/150"></a>
					<figcaption>Moon<br>
						3:20</figcaption>
				</figure>
				<audio src="build/audio/moon.mp3" controls></audio>
			</div>
		</div>
		<div>
			<div class="details">
				<figure>
					<a href="#"><img src="https://picsum.photos/150"></a>
					<figcaption>Poulet Chris<br>
						3:15</figcaption>
				</figure>
				<audio src="build/audio/poulet-chris.mp3" controls></audio>
			</div>
		</div>
		<div>
			<div class="details">
				<figure>
					<a href="#"><img src="https://picsum.photos/150"></a>
					<figcaption>Regards<br>
						3:20</figcaption>
				</figure>
				<audio src="build/audio/regards.mp3" controls></audio>
			</div>
		</div>
		<div>
			<div class="details">
				<figure>
					<a href="#"><img src="https://picsum.photos/150"></a>
					<figcaption>Thinked'Up<br>
						2:05</figcaption>
				</figure>
				<audio src="build/audio/THINKED'UP.mp3" controls></audio>
			</div>
		</div>
	</div>
	<div class="intro">
		<p>Un rythme marquant, une mélodie entraînante et des basses appuyées font partie du mélange secret pour obtenir une bonne instru.</p>
		<p>Tu n'as pas les bases ou pas le temps de composer tes propres prods ?</p>
		<p>
			<span class="pp">Peperoonii Prod</span>
			te proposes des instrus rap déjà mixées et masterisées pour que tu poses tes meilleurs couplets dessus.</p>
		<p>Tu préfères la
			<span class="cat">Trap</span>
			ou le
			<span class="cat">Lo-Fi</span>
		</p>
		<p>Tu es peut-être plus
			<span class="cat">Phonk</span>
			ou le
			<span class="cat">Old-School</span>
		</p>
		<p>Tu veux rentrer être dans la tendance avec de la
			<span class="cat">Drill</span>
		</p>
		<p>N'hésite plus, tappe la catégorie dans la
			<a href="{{ path('tracks') }}" class="introSearch">barre de recherche</a>
			et choisis l'instru qui t'inspire</p>
	</div>
	<section class="how-works">
		<h2>Comment ça marche ?</h2>
		<article>
			<h3>Faites un recherche</h3>
			<button class="btn-search">
				<a href="{{ path('tracks') }}">
					<i class="fas fa-search"></i>
				</a>
			</button>
		</article>
		<article>
			<h3>Ajoutez à votre panier</h3>
			<button type="button" class="btn-add-cart">
				<a href="{{ path('tracks') }}">
					<i class="fas fa-cart-plus"></i>
					<span>29.99€</span>
				</a>
			</button>
		</article>
		<article>
			<h3>Téléchargez votre fichier</h3>
			<a href="{{ path('tracks') }}">
				<i class="fas fa-download"></i>
			</a>
		</article>
	</section>
{% endblock body %}
