{% extends 'base.html.twig' %}

{% block title %}
	Peperoonii Prod - L'artiste
{% endblock %}

{% block bg %}
	<div class="bg-pepe">
		<h1>Peperoonii</h1>
		<p>Baigné dans la musique depuis petit, j'étais plus que sûr que le son allait faire parti de ma vie future.</p>
		<p>J'ai débuter le beatmaking en 2015 avec des logiciels gratuits et j'ai pu tout de suite retranscrire ce que j'avais en tête</p>
		<p>Plus qu'un simple hobbie, c'est devenu ma passion</p>
		<p>Je me suis ralier à un groupe de beatmakers, clippers, graphistes nommé
			<i>Twelve Corporation</i>
			et j'ai sorti quelques
			<a>projets</a>
			avec l'autre beatmaker du groupe</p>
	</div>
{% endblock %}
