{% extends 'base.html.twig' %}

{% block body %}
    <img src="https://picsum.photos/300"/>
    <div>
        <h1>Bigot</h1>
        <h2>New School</h2>
    </div>
<h3>4:03</h3>
<h3>130</h3>
<div>
    <a href="#"><i class="fas fa-download"></i></a>
    <a href="#"><i class="fas fa-share-square"></i></a>
    <button type="button">
        <i class="fas fa-cart-plus"></i>
        <span>29.99 €</span>
    </button>
</div>
{% endblock body %}
