/*** Regular ***/

@font-face {
 font-family: "Montserrat Regular";
 src: url("../fonts/MontserratAlternates-Regular.ttf") format("TrueType")
}

/*** Bold ***/

@font-face {
 font-family: "Montserrat Bold";
 src: url("../fonts/MontserratAlternates-Bold.ttf") format("TrueType")
}

/*** Italic ***/

@font-face {
 font-family: "Montserrat Italic";
 src: url("../fonts/MontserratAlternates-Italic.ttf") format("TrueType")
}

/*** Bold Italic ***/

@font-face {
 font-family: "Montserrat Bold Italic";
 src: url("../fonts/MontserratAlternates-BoldItalic.ttf") format("TrueType")
}